// abstract partial files
@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

// base partial files
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// components partial files
@import "components/button";
@import "components/dropdown";
@import "components/wheel";

// layout partial files
@import "layout/header";
@import "layout/footer";
@import "layout/main";

// pages partial files
@import "pages/home";