@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.footer {
    width: 100%;
    height: 10rem;
    background-color: $color-primary-dark;
    position: absolute;
    bottom: 0;
    left: 0; 
    @include flex(row, center, center);


    &__div {
        @include flex( row, center, center);
        gap: 1rem;
    }

    &__text {
        font-size: 3rem;
        font-family: 'Titan One', cursive;
        font-weight: 400;
        color: white;
        // text-transform: uppercase;
    }

    &__img {
        width: 3.5rem;
        transition: transform .7s ease-in-out;

        &:hover {
            transform: rotate(360deg) scale(1.3);
            cursor: pointer;
          }
    }
}

footer .wave {
    width: 100%;
    height: 5rem;
    background-color: red;
    position: absolute;
    top: -5rem;
    left: 0;
    background: url(./img/wave.png);
    background-size: 100rem 10rem;
}

footer .wave#wave-1 {
    z-index: 100;
    opacity: 1;
    bottom: 0;
    animation: wave 4s linear infinite;
}

@keyframes wave {
    0% {
        background-position-x: 100rem;
    }
    100% {
        background-position-x: 0px;
    }
}

