.main {
    width: 65rem;
    height: 40rem;
    @include flex(column, space-between, center);
    border: 2px solid $color-gray;
    border-radius: 1rem;
    overflow: hidden;
}


.section {

    &--top {
        width: 100%;
        height: 11.765%;
        border-bottom: 2px solid $color-gray;
        @include flex( row, space-between, center );
    }

    &--middle {
        width: 100%;
        height: 76.471%;
        background-color: $color-primary;
    }

    &--bottom {
        width: 100%;
        height: 11.765%;
        border-top: 2px solid $color-gray;
    }
}

.wheel-numbers {


}

.mode {
    margin: 4px 8px 0 8px;
    @include flex( row, center, center );
    gap: 1rem;

    &__number {
        font-size: $font-default;
        font-weight: 700;
    }

    &__button {

    }

    &__fidget {
        font-size: $font-default;
        font-weight: 700;
    }
}
