.main {
    width: 65rem;
    height: 40rem;
    @include flex(column, space-between, center);
    border: 2px solid $color-gray;
    
}


.section {

    &--top {
        width: 100%;
        height: 11.765%;
        border-bottom: 2px solid $color-gray;
    }

    &--middle {
        width: 100%;
        height: 76.471%;
    }

    &--bottom {
        width: 100%;
        height: 11.765%;
    }
}

.wheel-numbers {


}

.mode {
    
}
