.main {
    width: 65rem;
    // height: 40rem;
    height: auto;
    margin: 15rem 0;
    @include flex(column, space-between, center);
    border: 2px solid $color-gray;
    border-radius: 1rem;
}


.section {

    &--top {
        width: 100%;
        // height: 11.765%;
        height: 4.8rem;
        border-bottom: 2px solid $color-gray;
        @include flex( row, space-between, center );

        &__container {
            @include flex( row, center, center );
        }
    }
    &--middle {
        width: 100%;
        height: 26.5rem;
        background-color: $color-primary;
    }
    &--bottom {
        width: 100%;
        // height: 23.53%;
        height: auto;
        border-top: 2px solid $color-gray;
    }
}

.wheel-numbers {
    margin: 0 0 0 16px;
    padding: 0.5rem 0 0.5rem 1rem;
    border: none;
    appearance: none;
    background-color: none;
    font-weight: 700;

    &__icon {
        width: 2rem;
    }

    &:focus { 
        color: #0000ff;
        border: none;
        outline: none;
    }
}

.wheel-numbers:focus + .wheel-numbers__icon {
    filter: invert(9%) sepia(99%) saturate(6763%) hue-rotate(247deg) brightness(95%) contrast(145%);
}

.mode {
    margin: 4px 16px 0 16px;
    @include flex( row, center, center );
    gap: 1rem;

    &__number {
        font-size: $font-default;
        font-weight: 700;
    }
    &__button {
        position: relative;
        @include flex( row, center, center );
    }
    &__fidget {
        font-size: $font-default;
        font-weight: 700;
    }
}

.spin {
    width: 100%;
    // height: 50%;
    height: 4.8rem;
    @include flex( row, center, center );
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid $color-gray;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}