// colors
$color-primary: #00beac;
$color-primary-light: #7eded4;
$color-primary-light-2: #baf4ee;
$color-primary-dark: #296164;

$color-gray: #dbdde1;
$color-gray-dark: #60636a;

// fonts
$font-default: 1.4rem;