.wheel-container {
    width: 100%;
    height: 100%;
    @include flex( row, center, center );
}

.wheel {
    width: 23.2rem;
    height: 23.2rem;
    background-color: lightcoral;
    display: block;
}